{% extends 'adminBase.html' %}

{% block title %}
Dashboard | Posts
{% endblock title %}

{% block content %}
<a href={% url "Dashboard:admin-create-post"%}>Create new post<a/>
	{% for post in posts %}
		<div class="post-card">
			<img src="{{post.header_image}}" alt="post picture" />	
			<div>
				<a href="{% url 'Dashboard:admin-edit-post' post.slug %}"><h3>{{ post.title }}</h3></a>	
				<p>{{ post.summary }}</p>
				<a href="{% url 'Dashboard:admin-edit-post' post.slug %}">Edit Post</a>
			</div>
		</div>		
	{% endfor %}
{% endblock content %}
