{% extends 'adminBase.html' %}

{% block title %}
Dashboard | Login
{% endblock title %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="container">
    <section class="card">
        <div class="card-content">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn blue">Login</button>
            </form>
        </div>
    </section>
</div>
{% endblock content %}
